* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, a:hover, a:visited {
    text-decoration: none;
    color: black;
}

.flex {
    display: flex;
}

.linewidth {
    padding: 35vw 0;
    margin: 0 .9rem;
}
