@import './variables';

.main-location {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #location-1 {
        img {
            width: 70vw;
        }
    }
    #location-2 {
        margin: 5vh 0;
    }
    #location-3 {
        text-align: center;
        p {
            font-weight: 600;
            color: rgb(0, 44, 26);
            span {
                color: rgb(85, 85, 85);
                font-weight: 400;
            }
        }
    }
}


@media screen and (max-width: 430px) {
    .main-location {
        #location-2 {
            p {
                border: 1.5px solid black;
                padding: 1rem;
                font-size: 1.5rem;
            }
        }
        #location-3 {
            img {
                width: 2rem;
                height: auto;
            }
            p {
                span {
                    font-size: .9rem;
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .main-location {
        #location-2 {
            p {
                border: 3px solid black;
                padding: 1.5rem 2rem;
                font-size: 2rem;
                font-weight: 600;
            }
        }
        #location-3 {
            @include address;
        }
    }
}
