@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic&display=swap');

$primaryColor: #FF8A36;
$headerColor: #FFF4EC;
$primaryFont: 'Advent Pro', sans-serif;
$secondaryFont: 'Kaushan Script', cursive;
$footerFont: 'Carme', sans-serif;
$footerFont2: 'Carrois Gothic', sans-serif;

