@import './globals';
@import './variables';
@import './index';
@import './menu';
@import './location';
@import './contact';

header {
    justify-content: space-between;
    align-items: center;
    min-height: 16vh;
    background-color: $headerColor;
    .hamburger {
        transition: 1s;
        cursor: pointer;
        .bar {
            display: block;
            background-color: black;
            border-radius: 3px;
        }
    }
    .hamburger.active .bar {
        margin: 0;
    }
    .hamburger.active .bar:nth-child(2) {
        height: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: rotate(-45deg);
    }
    .nav {
        z-index: 5;
        left: -100%;
        transition: .4s;
        list-style: none;
        text-align: center;
        position: fixed;
        top: 16vh;
        height: 74vh;
        width: 100vw;
        background-color: $headerColor;
    }
    .nav.active {
        left: 0;
    }
    .logo {
        color: rgb(54, 21, 0);
        letter-spacing: 0;
        filter: drop-shadow(2px 2px 2px rgb(208, 143, 136));
        position: absolute;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
        font-family: $secondaryFont;
    }
    .ordernow {
        text-transform: uppercase;
        text-align: center;
        background-color: rgb(255, 77, 0);
        border-radius: .25rem;
        filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.4));
        font-weight: 600;
        color: azure;
    }
}

footer {
    flex-direction: column;
    background-color: $primaryColor;
    min-height: 10vh;
    align-items: center;  
    justify-content: center;  
    color: white;    
    font-family: $footerFont2;
    letter-spacing: 0;
    .follow {
        align-items: center;
        justify-content: space-between;
        font-family: $footerFont;
        letter-spacing: 1px;
    }        
}

//mobile first
@media only screen and (max-width: 430px) {
    header {
        padding-top: 5vh;
        .hamburger {
            margin-left: 1.75rem;
            .bar {
                width: 36px;
                height: 3px;
                margin: 7.5px 0;
            }
        }
        .nav {
            padding: 2rem 0;
            li {
                padding: 1.75rem 0;
                font-size: 1.75rem;
            }
        }
        .logo {
            font-size: 1.65rem;
        }
        .ordernow {
            padding: .65rem .75rem;
            margin-right: 1.75rem;
            .mobile {
                display: block;
            }
            .desktop {
                display: none;
            }
        }
    }
    footer {
        font-size: .85rem;
        .follow {
            width: 75vw;
            font-size: 1.35rem;
            padding-bottom: 1rem;
            a {
                padding: 0 .75rem;
                img {
                    width: 2rem;
                }
            }    
        }        
    }
}
@media screen and (max-width: 393px) {
    header {
        .logo {
            font-size: 1.45rem;
        }
        .ordernow {
            padding: .5rem .65rem;

        }
    }
}
@media screen and (max-width: 375px) {
    header {
        .ordernow {
            font-size: 1rem;
            line-height: 1;
        }
    }
    footer {
        .follow {
            font-size: 1rem;
            width: 64vw;
            padding-bottom: .25rem;
            a {
                padding: 0 .5rem;
                img {
                    width: 1.5rem;
                }
            }
        }
        #copyright {
            font-size: .75rem;
        }
    }
}

//tablet PC
@media screen and (max-width: 1024px) {
    header {
        .hamburger {
            margin-left: 7.5vw;
            .bar {
                width: 60px;
                height: 5px;
                margin: .65rem 0;
            }
        }
        .nav {
            padding: 2rem 0;
            li {
                padding: 2.5rem 0;
                font-size: 2.5rem;
            }
        }
        .logo {
            font-size: 2.25rem;
        }
        .ordernow {
            padding: 1rem 1.25rem;
            margin-right: 7.5vw;
            font-size: 1.75rem;
            .mobile {
                display: none;
            }
            .desktop {
                display: block;
            }
        }
    }
    footer {
        font-size: 1rem;
        .follow {
            width: 40vw;
            font-size: 1.75rem;
            a {
                padding: 0 1rem;
                img {
                    width: 2.5rem;
                }
            }    
            padding-bottom: 1rem;
        }        
    }
}