@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Carme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Carrois+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Carme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Carrois+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Carme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Carrois+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Carme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Carrois+Gothic&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
  font-family: "Advent Pro", sans-serif;
  font-weight: 400;
  letter-spacing: 1.5px;
}

a, a:hover, a:visited {
  text-decoration: none;
  color: black;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.linewidth {
  padding: 35vw 0;
  margin: 0 .9rem;
}

.main-index {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 74vh;
  text-align: center;
}

.main-index #home-1 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-index #home-1 p {
  width: 46vw;
  padding: .25rem 0;
  line-height: 1.8rem;
  font-family: "Kaushan Script", cursive;
}

.main-index #home-1 #healthy {
  text-align: left;
}

.main-index #home-1 #tasty {
  text-align: center;
}

.main-index #home-1 #authentic {
  text-align: right;
}

.main-index #home-1 .underline {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  z-index: -1;
}

.main-index #home-1 .underline #underline-1 {
  border: 4px solid rgba(255, 244, 236, 0.8);
}

.main-index #home-1 .underline #underline-2 {
  border: 4px solid rgba(255, 226, 206, 0.8);
}

.main-index #home-1 .underline #underline-3 {
  border: 4px solid rgba(255, 191, 146, 0.8);
}

.main-index #home-2 img {
  -o-object-fit: cover;
     object-fit: cover;
}

.main-index #home-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-index #home-3 a h3 {
  text-transform: uppercase;
}

.main-index #home-4 p {
  font-weight: 600;
  color: #002c1a;
}

.main-index #home-4 p span {
  color: #555555;
  font-weight: 400;
}

@media only screen and (max-width: 430px) {
  .main-index {
    margin: 1.5rem 0;
  }
  .main-index #home-1 p {
    font-size: 1.5rem;
  }
  .main-index #home-1 .underline {
    top: 6rem;
    right: 38%;
  }
  .main-index #home-2 img {
    width: 100vw;
    height: 25vh;
  }
  .main-index #home-3 {
    width: 66vw;
  }
  .main-index #home-3 a {
    border: 2px solid black;
  }
  .main-index #home-3 a h3 {
    width: 30vw;
    padding: 1rem 0;
    font-size: 1.5rem;
  }
  .main-index #home-4 img {
    width: 2rem;
    height: auto;
  }
  .main-index #home-4 p span {
    font-size: .9rem;
  }
}

@media screen and (max-width: 393px) {
  .main-index #home-1 #healthy {
    -webkit-filter: drop-shadow(4px 0.5px 1px #ffd8ab);
            filter: drop-shadow(4px 0.5px 1px #ffd8ab);
  }
  .main-index #home-1 #tasty {
    -webkit-filter: drop-shadow(4px 0.5px 1px #ffb663);
            filter: drop-shadow(4px 0.5px 1px #ffb663);
  }
  .main-index #home-1 #authentic {
    -webkit-filter: drop-shadow(4px 0.5px 1px #ff951c);
            filter: drop-shadow(4px 0.5px 1px #ff951c);
  }
  .main-index #home-1 .underline {
    display: none;
  }
}

@media screen and (max-width: 375px) {
  .main-index #home-1 p {
    width: 40vw;
    font-size: 1.25rem;
    line-height: 1.5rem;
    letter-spacing: 1px;
    color: #231000;
  }
  .main-index #home-2 img {
    width: 76vw;
    height: 20vh;
  }
  .main-index #home-3 a h3 {
    padding: .75rem;
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 1024px) {
  .main-index {
    margin: 3rem 0;
  }
  .main-index #home-1 p {
    font-size: 2rem;
    color: #392100;
  }
  .main-index #home-1 .underline {
    top: -1%;
    right: 44%;
  }
  .main-index #home-2 img {
    width: 72vw;
    height: 26vh;
  }
  .main-index #home-3 {
    width: 54vw;
  }
  .main-index #home-3 a {
    border: 3px solid black;
  }
  .main-index #home-3 a h3 {
    width: 24vw;
    padding: 1.25rem 0;
    font-size: 2.25rem;
  }
  .main-index #home-4 img {
    width: 4rem;
    height: auto;
  }
  .main-index #home-4 p {
    font-size: 1.75rem;
  }
  .main-index #home-4 p span {
    font-size: 1.5rem;
  }
}

.main-menu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-menu .icons {
  position: absolute;
}

.main-menu .menu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: bisque;
}

.main-menu .menu .content {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-menu .menu .content .dish {
  text-align: left;
}

.main-menu .menu .content .dish h3 {
  color: #FF8A36;
  -webkit-filter: drop-shadow(1px 1px 0 white);
          filter: drop-shadow(1px 1px 0 white);
}

.main-menu .menu .content .dish .line {
  position: absolute;
  height: 1.5px;
  background-color: white;
}

.main-menu .menu .content .price {
  text-align: right;
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main-menu .menu #appetizer {
  margin-top: .5rem;
}

@media screen and (max-width: 430px) {
  .main-menu .icons {
    top: 24%;
  }
  .main-menu .icons img {
    width: 2.25rem;
    margin: 0 .5rem;
  }
  .main-menu .menu {
    margin-top: .75rem;
    width: 74vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 2rem 0;
  }
  .main-menu .menu .content {
    width: 60vw;
  }
  .main-menu .menu .content .dish {
    line-height: 1.5;
  }
  .main-menu .menu .content .dish h3 {
    padding-bottom: .5rem;
  }
  .main-menu .menu .content .dish .line {
    width: 60vw;
  }
  .main-menu .menu .content .price {
    line-height: 1.5;
  }
  .main-menu .menu #maindish {
    padding: 1.5rem 0;
  }
}

@media screen and (max-width: 393px) {
  .main-menu .icons {
    top: 18.5%;
  }
}

@media screen and (max-width: 375px) {
  .main-menu .icons {
    top: 20.5%;
  }
  .main-menu .icons img {
    width: 2rem;
  }
  .main-menu .menu {
    padding: 1.5rem 0;
  }
  .main-menu .menu .content {
    font-size: .8rem;
  }
  .main-menu .menu .content .dish h3 {
    padding-bottom: .25rem;
  }
}

@media screen and (max-width: 1024px) {
  .main-menu .icons {
    top: 21%;
  }
  .main-menu .icons img {
    margin: 0 1.5rem;
  }
  .main-menu .menu {
    padding: 4rem 0;
    width: 76vw;
  }
  .main-menu .menu .content {
    width: 64vw;
    font-size: 1.25rem;
  }
  .main-menu .menu .content .dish {
    line-height: 1.75;
  }
  .main-menu .menu .content .dish h3 {
    font-size: 1.75rem;
    padding-bottom: .75rem;
  }
  .main-menu .menu .content .dish .line {
    width: 64vw;
  }
  .main-menu .menu .content .price {
    line-height: 1.75;
  }
  .main-menu .menu #maindish {
    padding: 2.5rem 0;
  }
}

.main-location {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-location #location-1 img {
  width: 70vw;
}

.main-location #location-2 {
  margin: 5vh 0;
}

.main-location #location-3 {
  text-align: center;
}

.main-location #location-3 p {
  font-weight: 600;
  color: #002c1a;
}

.main-location #location-3 p span {
  color: #555555;
  font-weight: 400;
}

@media screen and (max-width: 430px) {
  .main-location #location-2 p {
    border: 1.5px solid black;
    padding: 1rem;
    font-size: 1.5rem;
  }
  .main-location #location-3 img {
    width: 2rem;
    height: auto;
  }
  .main-location #location-3 p span {
    font-size: .9rem;
  }
}

@media screen and (max-width: 1024px) {
  .main-location #location-2 p {
    border: 3px solid black;
    padding: 1.5rem 2rem;
    font-size: 2rem;
    font-weight: 600;
  }
  .main-location #location-3 p {
    font-size: 1.75rem;
  }
  .main-location #location-3 p span {
    font-size: 1.5rem;
  }
}

.main-contact {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.main-contact #contact-1 {
  border-radius: .5rem;
  background-color: #FF8A36;
  color: white;
  font-weight: 600;
}

.main-contact #contact-1 #close {
  color: beige;
}

.main-contact #contact-2 img {
  width: 70vw;
  -o-object-fit: contain;
     object-fit: contain;
}

.main-contact #contact-3 h3 {
  color: #FF8A36;
  padding-bottom: 1rem;
}

.main-contact #contact-3 form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .75rem;
}

.main-contact #contact-3 form input {
  border: 1px solid #bbbbbb;
  height: 1.75rem;
  padding: .25rem .5rem;
  font-family: "Carme", sans-serif;
}

.main-contact #contact-3 form #i-1 {
  gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-contact #contact-3 form #i-1 input {
  width: 22vw;
}

.main-contact #contact-3 form #i-2 input {
  width: 60vw;
}

.main-contact #contact-3 form #i-3 textarea {
  width: 70vw;
  height: 8vh;
  border: 1px solid #bbbbbb;
  font-family: "Carme", sans-serif;
}

.main-contact #contact-4 {
  gap: 1.5rem;
}

.main-contact #contact-4 button {
  font-family: "Advent Pro", sans-serif;
  letter-spacing: 1.5px;
}

.main-contact #contact-4 #submit {
  background-color: #FF8A36;
  color: white;
}

.main-contact #contact-4 #callus {
  background-color: white;
}

@media only screen and (max-width: 1024px) {
  .main-contact {
    gap: 3rem;
  }
  .main-contact #contact-1 {
    padding: 1rem 2rem;
    font-size: 2rem;
  }
  .main-contact #contact-1 #close {
    font-size: 1.5rem;
  }
  .main-contact #contact-2 img {
    width: 60vw;
    height: 24vh;
  }
  .main-contact #contact-3 h3 {
    font-size: 2rem;
  }
  .main-contact #contact-3 form {
    font-size: 1.25rem;
  }
  .main-contact #contact-3 form input {
    font-size: 1.35rem;
    height: 2.25rem;
  }
  .main-contact #contact-3 form #i-3 textarea {
    font-size: 1.35rem;
    padding: .75rem 1rem;
  }
  .main-contact #contact-4 button {
    font-size: 2.5rem;
    padding: 1rem 2rem;
  }
  .main-contact #contact-4 #submit {
    border: 3px solid #FF8A36;
  }
  .main-contact #contact-4 #callus {
    border: 3px solid black;
  }
}

@media only screen and (max-width: 430px) {
  .main-contact {
    gap: 1rem;
  }
  .main-contact #contact-1 {
    padding: 1rem 2rem;
    font-size: 1.15rem;
  }
  .main-contact #contact-1 #close {
    font-size: 1rem;
  }
  .main-contact #contact-3 h3 {
    font-size: 1.25rem;
  }
  .main-contact #contact-3 form #i-3 textarea {
    padding: .25rem .5rem;
  }
  .main-contact #contact-4 button {
    padding: .75rem 2rem;
    font-size: 1.5rem;
  }
  .main-contact #contact-4 #submit {
    border: 1.5px solid #FF8A36;
    background-color: #FF8A36;
  }
  .main-contact #contact-4 #callus {
    border: 1.5px solid black;
  }
}

@media only screen and (max-width: 393px) {
  .main-contact #contact-1 {
    padding: .75rem 1rem;
    font-size: 1rem;
  }
  .main-contact #contact-1 #close {
    font-size: .85rem;
  }
  .main-contact #contact-2 img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 14vh;
  }
  .main-contact #contact-4 button {
    padding: .5rem 1.5rem;
  }
}

@media only screen and (max-width: 375px) {
  .main-contact #contact-4 {
    gap: 1rem;
  }
  .main-contact #contact-4 button {
    font-size: 1.1rem;
  }
}

header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 16vh;
  background-color: #FFF4EC;
}

header .hamburger {
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
}

header .hamburger .bar {
  display: block;
  background-color: black;
  border-radius: 3px;
}

header .hamburger.active .bar {
  margin: 0;
}

header .hamburger.active .bar:nth-child(2) {
  height: 0;
}

header .hamburger.active .bar:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

header .hamburger.active .bar:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

header .nav {
  z-index: 5;
  left: -100%;
  -webkit-transition: .4s;
  transition: .4s;
  list-style: none;
  text-align: center;
  position: fixed;
  top: 16vh;
  height: 74vh;
  width: 100vw;
  background-color: #FFF4EC;
}

header .nav.active {
  left: 0;
}

header .logo {
  color: #361500;
  letter-spacing: 0;
  -webkit-filter: drop-shadow(2px 2px 2px #d08f88);
          filter: drop-shadow(2px 2px 2px #d08f88);
  position: absolute;
  text-align: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-family: "Kaushan Script", cursive;
}

header .ordernow {
  text-transform: uppercase;
  text-align: center;
  background-color: #ff4d00;
  border-radius: .25rem;
  -webkit-filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.4));
  font-weight: 600;
  color: azure;
}

footer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #FF8A36;
  min-height: 10vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-family: "Carrois Gothic", sans-serif;
  letter-spacing: 0;
}

footer .follow {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Carme", sans-serif;
  letter-spacing: 1px;
}

@media only screen and (max-width: 430px) {
  header {
    padding-top: 5vh;
  }
  header .hamburger {
    margin-left: 1.75rem;
  }
  header .hamburger .bar {
    width: 36px;
    height: 3px;
    margin: 7.5px 0;
  }
  header .nav {
    padding: 2rem 0;
  }
  header .nav li {
    padding: 1.75rem 0;
    font-size: 1.75rem;
  }
  header .logo {
    font-size: 1.65rem;
  }
  header .ordernow {
    padding: .65rem .75rem;
    margin-right: 1.75rem;
  }
  header .ordernow .mobile {
    display: block;
  }
  header .ordernow .desktop {
    display: none;
  }
  footer {
    font-size: .85rem;
  }
  footer .follow {
    width: 75vw;
    font-size: 1.35rem;
    padding-bottom: 1rem;
  }
  footer .follow a {
    padding: 0 .75rem;
  }
  footer .follow a img {
    width: 2rem;
  }
}

@media screen and (max-width: 393px) {
  header .logo {
    font-size: 1.45rem;
  }
  header .ordernow {
    padding: .5rem .65rem;
  }
}

@media screen and (max-width: 375px) {
  header .ordernow {
    font-size: 1rem;
    line-height: 1;
  }
  footer .follow {
    font-size: 1rem;
    width: 64vw;
    padding-bottom: .25rem;
  }
  footer .follow a {
    padding: 0 .5rem;
  }
  footer .follow a img {
    width: 1.5rem;
  }
  footer #copyright {
    font-size: .75rem;
  }
}

@media screen and (max-width: 1024px) {
  header .hamburger {
    margin-left: 7.5vw;
  }
  header .hamburger .bar {
    width: 60px;
    height: 5px;
    margin: .65rem 0;
  }
  header .nav {
    padding: 2rem 0;
  }
  header .nav li {
    padding: 2.5rem 0;
    font-size: 2.5rem;
  }
  header .logo {
    font-size: 2.25rem;
  }
  header .ordernow {
    padding: 1rem 1.25rem;
    margin-right: 7.5vw;
    font-size: 1.75rem;
  }
  header .ordernow .mobile {
    display: none;
  }
  header .ordernow .desktop {
    display: block;
  }
  footer {
    font-size: 1rem;
  }
  footer .follow {
    width: 40vw;
    font-size: 1.75rem;
    padding-bottom: 1rem;
  }
  footer .follow a {
    padding: 0 1rem;
  }
  footer .follow a img {
    width: 2.5rem;
  }
}
/*# sourceMappingURL=style.css.map */